.products-page {
  padding: 5% 20%;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.products-header {
  margin-bottom: 1rem;
}

.products-header h3 {
  font-size: 1.2rem;
  color: #444;
}

/* .underline {
  width: 100%;
  height: 2px;
  background-color: #c084fc;
  margin-top: 0.25rem;
} */

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
}
