.operations-main {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  border-top: 1px solid rgb(223, 210, 210);
}
.operations-text {
  margin-top: 100px;
}

.operations-text h2 {
  text-transform: uppercase;
  color: #a855f7;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.operations-text p {
  font-size: 2rem;

  color: #1a1a1a;
  max-width: 800px;
  margin: 0 auto;
}

.tabButton-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tab-btn,
.tb-btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 999px;
  border: none;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.activetab {
  background: linear-gradient(90deg, #a855f7, #d946ef);
  color: white;
}

.tabContent-div {
  width: 63%;

  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.tabContent-div .icon-circle {
  background-color: #f3e8ff;
  color: #a855f7;
  padding: 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 48px;
  width: 48px;
}

.tabContent-div .tab-texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tabContent-div .tab-texts h3 {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 1.1rem;
}

.tabContent-div .tab-texts p {
  color: #555;
  line-height: 1.6;
}
@media (max-width: 500px) {
  .tab-content {
    padding: 0px;
  }
  .tabContent-div {
    width: 100%;
  }
}
