.btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  /* border-radius: 999px; */
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.primary {
  background: linear-gradient(90deg, #a855f7, #d946ef);
  color: white;
}

.primary:hover {
  background: linear-gradient(90deg, #7504df, #ba51ca);
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.secondary:hover {
  background: #444;
  color: white;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.activetab {
  background-color: #a855f7;
  color: white;
  border-color: #a855f7;
}
.tab-btn,
.tb-btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 999px;
  border: none;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.activetab {
  background: linear-gradient(90deg, #a855f7, #d946ef);
  color: white;
}
.reset-filters button {
  padding: 0.6rem 1.2rem;
  background-color: #e92222;
  color: #ffffff;
  border: 1px solid #fca5a5;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reset-filters button:hover {
  background-color: #f82727;
  color: white;
  border-color: #f87171;
}
@media (max-width: 768px) {
  .tab-btn {
    font-size: 0.9rem !important;
    padding: 0.6rem 1rem !important;
  }
}

@media (max-width: 480px) {
  .tab-btn {
    font-size: 0.8rem !important;
    padding: 0.5rem 0.9rem !important;
  }
}
